
  <div class="card-body">
    <h1 class="card-title">My booked Alibyes</h1>
</div>
     <% @bookings.each do |booking| %>
     <br>
          <div class='product-body'>
            <h2><%= booking.alibye.title %></h2>
            <%# <p>Alibye Title: <strong><%= booking.alibye.title %></strong></p>
            <p>Description: <strong><%= booking.alibye.description %></strong></p>
            <p>Total price: <strong><%= booking.total_price %> €</strong></p>
          </div>
          <div>
            <ul class="list-unstyled hidden-sm hidden-xs padded">
              <li><strong></strong></li>
              <li class="text-right"><%= link_to "Delete this booking", booking_path(booking), method: :delete, class:"btn btn-default", data: {confirm: "Are you sure"} %></li>
            </ul>
          </div>
        </li>
     <% end %>
